<div class="col-sm-3 pull-left" id="sidebar">
	<%= render "shared/sidebar" %>
</div>
<div class="col-sm-9 pull-right" id="mainView">
	<div id="gifSearch">
		<h2>Search for Gifs!</h2>
		<form class="form-group">
			<input type="text" class="form-control" id="gifSearchField" 
			placeholder="What do you want to find?">
			<button type="submit" class="btn btn-primary" id="srchBtn">Search!</button>
			<span class="notification"></span>
		</form>
	</div>
	<div id="resultsView">
		<div id="searchResults">
		</div>
	</div>
</div>	
<%= render "shared/usersearch" %>
<%= render "shared/expand" %>
