<div class="col-sm-3 pull-left" id="sidebar">
	<%= render "shared/sidebar" %>
</div>
<div class="col-sm-9 pull-right" id="mainView">
	<div id="userCollInfo">
		<%= cl_image_tag(@user.picture, :width => 140, :height => 140, :crop => :fill) %>
		<h1>Your gif collection.</h1>
		<hr>
	</div>
	<div class="mainScroll dimmed">
		<div id="collectionView">
			<% @current_user.gifs.each do |gif| %>
				<div>
					<img src="<%= gif.url %>">
				</div>
			<% end %>
		</div>
	</div>
</div>	
<%= render "shared/usersearch" %>
