<div class="modal sm fade" id="userSearchRslts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">User search.</h3>
      </div>
      <div class="modal-body" id="usrSrchRslts">
        <% for user in @users %>
          <div>
            <p>
             <%= cl_image_tag(user.picture, :width => 50, :height => 50, :crop => :fill) %>
             <strong><%=h user.user_name %></strong>
             <%= link_to "Follow.", friendships_path(:friend_id => user), :method => :post %>
             <div class="clear"></div>
            </p>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
</div>